/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    background: #f7efef;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav img{
    max-width: 64px;
    width: auto;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #3f51b5;
}